<div class="hero">
    <header class="header">
        <a routerLink=""><img class="logo-image"></a>
        <h1 class="header__title">Welcome to Log In!</h1>
        <div class="header__buttons" style="display: flex; align-items: center; justify-content: center;">

            &nbsp;

            &nbsp;
            &nbsp;
            &nbsp;
            <img src="../../assets/avatar.jpg" alt="Profile picture" class="profile-image">
        </div>
    </header>


    <div class="middle">
        <form class="example-form">
            <mat-card class="example-card">
                <mat-card-header class="input-data-header">
                    <mat-card-title>Log In</mat-card-title>
                </mat-card-header>
                &nbsp;
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <mat-label>Username</mat-label>
                        <input matInput class="input-class" type="text" [(ngModel)]="username" name="username">

                    </mat-form-field>

                </mat-card-content>

                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput class="input-class" type="password" [(ngModel)]="password" name="password">
                        <mat-error>Password is required</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <mat-error class="error-output">{{errorMessage}}</mat-error>
                <mat-card-actions class="login-button">
                    <button mat-raised-button color="primary" style="width: 100%; margin-top: 10px;"
                        (click)="logIn()">Log
                        In</button>
                </mat-card-actions>
                <br/>
                <mat-card-footer>
                    <a href="#">Forgot password?</a>
                </mat-card-footer>
                
                <mat-card-footer>
                    Don't have an account? <a routerLink="register">Register</a>
                </mat-card-footer>
            </mat-card>
        </form>
    </div>




</div>