.workshop-details-card {
    height: 100%;
    background-color: #7f5947e2;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}


.smallDetals {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    color: rgb(220, 170, 77)
}

.gallery {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.gallery img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .gallery img {
        width: 100%;
        height: auto;
    }
}

.previous-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    color: #fffefe;
    background-color: rgba(0, 0, 0, 0.495);
    padding: 10px;
    cursor: pointer;
}

.previous-arrow {
    left: 20px;
}

.next-arrow {
    right: 20px;
}


.card-left {
    float: left;
    min-width: 30%;
    margin: 0px;
    align-items: center;
}

.card-right {
    float: right;
    margin-left: 20px;
    max-width: 70%;
}

.card-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-img {
    margin-top: 10px;
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.under-title {
    padding: 0px;
    padding-left: 20px;
    font-size: 12px;
    margin: 0px;
}

.wrapping-content {
    display: flex;
}

.card-content {
    font-size: 16px;
    line-height: 1.5;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    padding: 0px;
}

p {
    color: white;
    padding: 5px;
    font-size: 18px;
    line-height: 1.5;
}

hr {
    border: 2px solid #333;
    width: 100%;
    margin: 40px auto;
}

.signup-btn {
    background-color: rgb(200, 150, 57);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: rgb(174, 132, 53);
}

.error-output {
    font-size: 20px;
    color: red;
    padding-bottom: 20px;
}


button[type="actionWorkshop"] {
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


button[type="actionWorkshop"]:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#startChat {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

#startChat:hover {
    background-color: #3e8e41;
}

.chat-message {
    display: inline-block;
    width: 60%;
}

.sender-message {
    float: left;
}

.recipient-message {
    float: right;
}

.content-and-profile-sender {
    float: left;
}

.content-sender {
    border-radius: 10px;
    padding: 10px;
    background-color: darkgray;
    margin-bottom: 5px;
}

.content-recipient {
    border-radius: 10px;
    padding: 10px;
    background-color: lightblue;
    margin-bottom: 5px;
}

.chat-box {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    /* margin-bottom: 10px; */
    width: 90%;
}

.comment-box{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    /* background-color: red; */
    width: 90%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.input-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    width: 490px;
}

.input-comment-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    width: 100%;
}

.comment-sender {
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(228, 225, 225);
    margin-bottom: 5px;
}


.chat-container {
    background-color: rgb(216, 215, 215);
    width: 490px;
    height: 300px;
    border: 1px solid #7f5947;
    border-radius: 10px;
    overflow-y: scroll;
    padding-bottom: 35px;
    margin-bottom: 10px;
}

.comment-container{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(216, 215, 215);
    border-radius: 10px;
    overflow-y: scroll;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .chat-container {
        width: 90%;
    }
}


form {
    margin-top: 10px;
}

input[type="text"] {
    width: 400px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
}

input[type="submit"] {
    width: 70px;
    height: 35px;
}





/* ////////////////////////////////////////////// za requestove */

.picture-username {
    display: flex;
    align-items: center;
    width: 200px;
    cursor: pointer;
    background-color: #bdb6b6;
    border-radius: 10px;
    margin-top: 5px;
}
.picture-username:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.messages-container {
    display: flex;
}

.message-requests-table {
    border-collapse: collapse;
}

.message-requests-table th,
.message-requests-table td {
    padding: 8px;
    text-align: left;
}

.message-requests-table th {
    background-color: #eee;
    font-weight: bold;
}


.message-requests-table img {
    max-width: 64px;
    max-height: 64px;
}


#map { height: 180px; }