<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <script defer src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
</head>


<div class="hero" *ngIf="currentUser && !currentUser.isOrganizer && currWorkshop">


    <header class="header">
        <a routerLink=""><img class="logo-image"></a>
        <h1 class="header__title">Welcome: {{currentUser.firstname}} {{currentUser.lastname}}</h1>
        <div class="header__buttons">
            &nbsp;

            <a routerLink="/profile" class="link">
                <button mat-raised-button color="brownLight">Profile</button>
            </a>
            &nbsp;
            <div class="dropdown">

                <button mat-raised-button color="brownLight" style="opacity: 0.8;">Workshops</button>

                <div class="dropdown-content">
                    <a routerLink="/">All Workshops</a>
                    <a routerLink="/myWorkshops">My Workshops</a>
                </div>
            </div>
            &nbsp;
            <a routerLink="/becomeOrganizer" class="link">
                <button mat-raised-button color="brownLight">Become an organizer</button>
            </a>
            &nbsp;
            <button (click)="logOut()" mat-raised-button color="brown">Log out</button>

            &nbsp;
            &nbsp;
            <img [src]="currentUser.picture" alt="Profile picture" class="profile-image">
        </div>
    </header>


    <div class="middle">

        <div class="workshop-details-card">
            <mat-card-header>
                <div>
                    <mat-card-title class="card-title">{{currWorkshop.name}} workshop</mat-card-title>
                </div>

            </mat-card-header>
            <p class="smallDetals">Place: {{currWorkshop.place}}</p>
            <p class="smallDetals">Date and time: {{dateAndTime}}</p>
            <div class="wrapping-content">
                <div>
                    <div class="gallery">
                        <i class="previous-arrow" (click)="previous()">&#10094;</i>
                        <img [src]=imageDisplay alt="card image">
                        <i class="next-arrow" (click)="next()">&#10095;</i>
                    </div>

                    <p>{{currWorkshop.longDesc}}</p>
                    <!-- <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=krfska 22 beograd&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                        </div> 
                    </div>-->
                    <div style="display: flex; align-items: center;">
                        <h1 style="color:rgb(220, 170, 77)">Number of places left: </h1>&nbsp;
                        <p style="font-size: 30px; font-weight: bold;">{{currWorkshop.numOfPlaces}}</p>
                        <button *ngIf="currWorkshop.numOfPlaces>0" (click)="signUp()" class="signup-btn">Sign
                            up</button>
                        <button *ngIf="currWorkshop.numOfPlaces==0" (click)="toNotify()" class="signup-btn">Notify me
                            when place is available.</button>


                    </div>
                    <span class="error-output">{{errorMessage}}</span>
                    <br>
                    <br>

                    <div>
                        <div *ngIf="chatOpened" style="position: relative;">

                            <div class="chat-container" #scrollContainer>

                                <div *ngFor="let message of myMessages">
                                    <div class="chat-box" *ngIf="message.sender.username==currWorkshop.organizer">
                                        <div class="chat-message sender-message">
                                            <div class="content-and-profile-sender">
                                                <div style="display: inline-block;">
                                                    <div style="display: flex; align-items: center;">
                                                        <img [src]="message.sender.picture"
                                                            style="margin: 5px; height: 30px; width: 30px; border-radius: 50%;">
                                                        <span
                                                            style="font-size: 12px;"><b>{{message.sender.username}}</b>,
                                                            {{message.timestamp}}</span>
                                                    </div>
                                                    <div>
                                                        <span style="float:left"
                                                            class="content-sender">{{message.content}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="chat-box" *ngIf="message.sender.username==currentUser.username">
                                        <div class="chat-message recipient-message">
                                            <div class="content-and-profile-recipient">
                                                <div style="float:right">
                                                    <div style="display: flex; align-items: center; float:right">
                                                        <span
                                                            style="font-size: 12px;"><b>{{message.sender.username}}</b>,
                                                            {{message.timestamp}}</span>
                                                        <img [src]="message.sender.picture"
                                                            style="margin: 5px; height: 30px; width: 30px; border-radius: 50%;">
                                                    </div>
                                                    <div>
                                                        <span style="float:right"
                                                            class="content-recipient">{{message.content}}</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="input-btn" style="display: flex;">
                                <input style="margin:0px" type="text" placeholder="Type your message here..."
                                    [(ngModel)]="messageContent">
                                <input (click)="sendMessage()" style="height: 100%; width: 20%;" class="signup-btn"
                                    type="submit" value="Send">
                            </div>


                        </div>
                        <button *ngIf="!chatOpened" type="button" id="startChat" (click)="startChat()">Start
                            Chat</button>
                        <button *ngIf="chatOpened" type="button" id="startChat" (click)="endChat()">Close Chat</button>
                    </div>


                    

                    <div style="position: relative; display: inline-block; margin-left: 40%;">
                        <div
                            style="position: absolute; top: 100%; left: 50%; margin-left: -10px; border-width: 10px; border-style: solid; border-color: pink transparent transparent transparent;">
                        </div>
                        <div
                            style="background-color: pink; display: flex; align-items: center; padding: 10px; border-radius: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                            <span style="margin-right: 5px;">5</span>
                            <mat-icon *ngIf="!liked" (click)="like()">favorite_border</mat-icon>
                            <mat-icon *ngIf="liked" (click)="unlike()">favorite</mat-icon>
                            <div
                                style="background-color: pink; display: flex; align-items: center; padding: 10px; margin-left: 10px; border-radius: 20px;">
                                <span style="margin-right: 5px;">{{workshopComments.length}}</span>
                                <mat-icon style="margin-left: 5px;">chat</mat-icon>
                            </div>
                        </div>
                    </div>

                    <h1 style="color: white; margin: 0px;">Comments</h1>
                    <div style="position: relative;">
                        
                        <div class="comment-container" #scrollContainer>

                            <div style="border-bottom: 1px dotted rgb(216, 215, 215);"
                                *ngFor="let comment of workshopComments">
                                <div class="comment-box">
                                    <div>
                                        <div class="content-and-profile-sender">
                                            <div style="display: inline-block;">
                                                <div style="display: flex; align-items: center;">
                                                    <img [src]="comment.sender.picture"
                                                        style="margin: 5px; height: 30px; width: 30px; border-radius: 50%;">
                                                    <span style="font-size: 12px;"><b>{{comment.sender.username}}</b>,
                                                        {{comment.timestamp}}</span>
                                                </div>
                                                <div>
                                                    <span style="float:left"
                                                        class="comment-sender">{{comment.content}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-comment-btn" style="display: flex;">
                            <input style="margin:0px;width:100%" type="text" placeholder="Type your comment..."
                                [(ngModel)]="commentContent">
                            <input (click)="sendComment()" style="height: 100%; width: 20%;" class="signup-btn"
                                type="submit" value="Send">
                        </div>


                    </div>

                </div>
            </div>


            <div style="display: flex; align-items: center;">
                <button id="startChat" (click)="openMap()">Open Map</button>
                <!-- <span style="margin-left: 1rem; color: whitesmoke;">{{ currWorkshop.place }}</span> -->
            </div>
            <div id="map" style="max-width: 50%; height: 300px;"></div>



        </div>




    </div>

    <div class="footer">


    </div>
</div>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="hero" *ngIf="currentUser && currentUser.isOrganizer && currWorkshop">


    <header class="header">
        <a routerLink=""><img class="logo-image"></a>
        <h1 class="header__title">Details: {{currWorkshop.name}} Organizer: {{currentUser.firstname}}</h1>
        <div class="header__buttons">
            &nbsp;

            <a routerLink="" class="link">
                <button mat-raised-button color="brownLight" style="opacity: 0.8;">Home</button>
            </a>
            &nbsp;
            <div class="dropdown">

                <button mat-raised-button color="brownLight">Profile</button>

                <div class="dropdown-content">
                    <a routerLink="/myWorkshops">My workshops</a>
                    <a routerLink="/addWorkshop">+ Add workshop</a>
                </div>
            </div>


            &nbsp;
            <button (click)="logOut()" mat-raised-button color="brown">Log out</button>

            &nbsp;
            &nbsp;
            <img [src]="currentUser.picture" alt="Profile picture" class="profile-image">
        </div>
    </header>


    <div class="middle">

        <div class="workshop-details-card">
            <mat-card-header style="display: flex; justify-content: space-between; align-items: center;">
                <mat-card-title class="card-title">{{currWorkshop.name}} workshop</mat-card-title>

                <div style="position: relative; display: inline-block;">
                    <div
                        style="position: absolute; top: 100%; left: 50%; margin-left: -10px; border-width: 10px; border-style: solid; border-color: rgb(192, 75, 94) transparent transparent transparent;">
                    </div>
                    <div
                        style="background-color: pink; display: flex; align-items: center; padding: 10px; border-radius: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);">
                        5
                        <mat-icon style="margin-left: 5px;">thumb_up_alt</mat-icon>
                        <div
                            style="background-color: pink; display: flex; align-items: center; padding: 10px; margin-left: 10px; border-radius: 20px;">
                            5
                            <mat-icon style="margin-left: 5px;">chat</mat-icon>
                        </div>
                    </div>
                </div>

                <div>
                    <button *ngIf="currentUser.username==currWorkshop.organizer" type="actionWorkshop"
                        (click)="editWorkshop($event, currWorkshop._id)"
                        style="background-color: rgb(102, 162, 214);">Edit</button>
                    <button *ngIf="currentUser.username==currWorkshop.organizer" type="actionWorkshop"
                        (click)="saveAsTemplate(currWorkshop)" style="background-color: rgb(111, 214, 102);">Save as
                        template</button>
                    <!-- <button *ngIf="currentUser.username==currWorkshop.organizer" type="actionWorkshop"
                        (click)="cancelWorkshop(currWorkshop._id)"
                        style="background-color: rgb(214, 102, 102);">Cancel</button> -->
                </div>
            </mat-card-header>
            <p class="smallDetals">Place: {{currWorkshop.place}}</p>
            <p class="smallDetals">Date and time: {{dateAndTime}}</p>
            <div class="wrapping-content">
                <div>
                    <div class="gallery">
                        <i class="previous-arrow" (click)="previous()">&#10094;</i>
                        <img [src]=imageDisplay alt="card image">
                        <i class="next-arrow" (click)="next()">&#10095;</i>
                    </div>

                    <p>{{currWorkshop.longDesc}}</p>
                    <!-- <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=krfska 22 beograd&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                        </div> 
                    </div>-->
                    <div style="display: flex; align-items: center;">
                    </div>
                    <span class="error-output">{{errorMessage}}</span>

                    <div class="messages-container" *ngIf="currWorkshop.organizer==currentUser.username">
                        <table class="message-requests-table">
                            <thead>
                                <tr>
                                    <th>Message requests</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let request of messageReqests">
                                    <div class="picture-username" (click)="openChat(request.senderUsername)">
                                        <td><img style="height: 40px; width: 40px;" class="profile-image"
                                                [src]="request.senderPicture" alt="Sender Picture"></td>

                                        <td>{{request.senderUsername}}</td>
                                    </div>
                                    <td>
                                        <div *ngIf="request.opened" style="position: relative;">

                                            <div class="chat-container" #scrollContainer>

                                                <div *ngFor="let message of request.messages">
                                                    <div class="chat-box"
                                                        *ngIf="message.sender.username==request.senderUsername">
                                                        <div class="chat-message sender-message">
                                                            <div class="content-and-profile-sender">
                                                                <div style="display: inline-block;">
                                                                    <div style="display: flex; align-items: center;">
                                                                        <img [src]="message.sender.picture"
                                                                            style="margin: 5px; height: 30px; width: 30px; border-radius: 50%;">
                                                                        <span
                                                                            style="font-size: 12px;"><b>{{message.sender.username}}</b>,
                                                                            {{message.timestamp}}</span>
                                                                    </div>
                                                                    <div>
                                                                        <span style="float:left"
                                                                            class="content-sender">{{message.content}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="chat-box"
                                                        *ngIf="message.sender.username!=request.senderUsername">
                                                        <div class="chat-message recipient-message">
                                                            <div class="content-and-profile-recipient">
                                                                <div style="float:right">
                                                                    <div
                                                                        style="display: flex; align-items: center; float:right">
                                                                        <span
                                                                            style="font-size: 12px;"><b>{{message.sender.username}}</b>,
                                                                            {{message.timestamp}}</span>
                                                                        <img [src]="message.sender.picture"
                                                                            style="margin: 5px; height: 30px; width: 30px; border-radius: 50%;">
                                                                    </div>
                                                                    <div>
                                                                        <span style="float:right"
                                                                            class="content-recipient">{{message.content}}</span>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="input-btn" style="display: flex;">
                                                <input style="margin:0px" type="text"
                                                    placeholder="Type your message here..."
                                                    [(ngModel)]="messageContent">
                                                <input (click)="sendMessageToUser(request)"
                                                    style="height: 100%; width: 20%;" class="signup-btn" type="submit"
                                                    value="Send">
                                            </div>


                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



            <!-- <div style="display: flex; align-items: center;">
                <button id="startChat" (click)="openMap()">Open Map</button>
            </div>
            <div id="map" style="max-width: 50%; height: 300px;"></div> -->
        </div>
    </div>

    <div class="footer">

    </div>
</div>