.hero {
    height: 100%;
}

/* -------------------------------------------------------------------------------------------------- */


.example-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    /* height: 80%; */
}

.example-card {
    border-radius: 10%;
    min-height: 400px;
    min-width: 300px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5), 0px 6px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba(255, 255, 255, 0.8);
}

.input-data-header {
    background-color: #a76637;
    color: white;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-title {
    font-size: 24px;
    font-weight: bold;
}



.example-card {
    width: 400px;
    /* padding: 40px; */
    text-align: center;
}

.example-full-width {
    width: 100%;
}



.mat-card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

input {
    height: 100%;
    padding: 20px;
}

mat-card-content {
    padding-left: 40px;
    padding-right: 40px;

}

.login-button {
    
    padding-left: 40px;
    padding-right: 40px;
}

.input-class {
    background-color: rgba(71, 92, 139, 0.103);
    padding: 0px;
    padding-top: 20px;
}

.error-output {
    color: red;
}
mat-label{
    opacity: 0.5;
}