<div class="hero">
    <header class="header">
        <a routerLink=""><img class="logo-image"></a>
        <h1 class="header__title">Forgot password?</h1>
        <div class="header__buttons" style="display: flex; align-items: center; justify-content: center;">

            &nbsp;

            &nbsp;
            &nbsp;
            &nbsp;
            <img src="../../assets/avatar.jpg" alt="Profile picture" class="profile-image">
        </div>
    </header>


    <div class="middle">
        <form class="example-form">
            <mat-card class="example-card">
                <mat-card-header class="input-data-header">
                    <mat-card-title>Email for new password</mat-card-title>
                </mat-card-header>
                &nbsp;
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput class="input-class" type="text" [(ngModel)]="email" name="email">

                    </mat-form-field>

                </mat-card-content>

                <mat-error class="error-output">{{errorMessage}}</mat-error>
                <mat-card-actions class="login-button">
                    <button mat-raised-button color="primary" style="width: 100%; margin-top: 10px;"
                        (click)="getRandomPass()">Send new password</button>
                </mat-card-actions>
                <br/>
                <mat-card-footer>
                    <a href="login">Back to login</a>
                </mat-card-footer>
                
                <mat-card-footer>
                    Don't have an account? <a routerLink="/register">Register</a>
                </mat-card-footer>
            </mat-card>
        </form>
    </div>




</div>