<div *ngIf="currentUser  && !currentUser.isOrganizer" class="hero">
    <header class="header">
        <a routerLink=""><img class="logo-image"></a>
        <h1 class="header__title">My Profile: {{currentUser.firstname}} {{currentUser.lastname}}</h1>
        <div class="header__buttons">
            &nbsp;


            <a routerLink="/profile" class="link" style="opacity: 0.8;">
                <button mat-raised-button color="brownLight">Profile</button>
            </a>
            &nbsp;
            <div class="dropdown">

                <button mat-raised-button color="brownLight">Workshops</button>

                <div class="dropdown-content">
                    <a routerLink="/">All Workshops</a>
                    <a routerLink="/myWorkshops">My Workshops</a>
                </div>
            </div>
            &nbsp;
            <a routerLink="/becomeOrganizer" class="link">
                <button mat-raised-button color="brownLight">Become an organizer</button>
            </a>
            &nbsp;
            <button (click)="logOut()" mat-raised-button color="brown">Log out</button>

            &nbsp;
            &nbsp;
            <img [src]="currentUser.picture" alt="Profile picture" class="profile-image">
        </div>
    </header>



    <div class="middle">
        <div class="card-container">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title class="card-title" style="padding-bottom: 10px;">My Data</mat-card-title>

                </mat-card-header>
                <mat-card-content>
                    <table class="table">

                        <tbody>
                            <tr>
                                <td>First name:</td>
                                <td>{{currentUser.firstname}}</td>
                                <button (click)="editData('firstname')" color="green" *ngIf="!edit">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <td *ngIf="edit=='firstname'">
                                    <input type="text" class="fancy-input" [(ngModel)]="firstnameEdit" />
                                </td>
                                <button (click)="doneEditing(firstnameEdit,'firstname')" color="green"
                                    *ngIf="edit=='firstname'">
                                    <mat-icon>done</mat-icon>
                                </button>
                                <button (click)="cancelEditing()" color="green" *ngIf="edit=='firstname'">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </tr>
                            <tr>
                                <td>Last name:</td>
                                <td>{{currentUser.lastname}}</td>
                                <button (click)="editData('lastname')" color="green" *ngIf="!edit">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <td *ngIf="edit=='lastname'">
                                    <input type="text" class="fancy-input" [(ngModel)]="lastnameEdit" />
                                </td>
                                <button (click)="doneEditing(lastnameEdit,'lastname')" color="green"
                                    *ngIf="edit=='lastname'">
                                    <mat-icon>done</mat-icon>
                                </button>
                                <button (click)="cancelEditing()" color="green" *ngIf="edit=='lastname'">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </tr>
                            <tr>
                                <td>Username:</td>
                                <td>{{currentUser.username}}</td>
                                <!-- <button (click)="editData('username')" color="green" *ngIf="!edit">
                                    <mat-icon>edit</mat-icon>
                                </button> -->
                                <!-- <td *ngIf="edit=='username'">
                                    <input type="text" class="fancy-input" [(ngModel)]="usernameEdit" />
                                </td> -->
                                <!-- <button (click)="doneEditing(usernameEdit,'username')" color="green"
                                    *ngIf="edit=='username'">
                                    <mat-icon>done</mat-icon>
                                </button> -->
                                <!-- <button (click)="cancelEditing()" color="green" *ngIf="edit=='username'">
                                    <mat-icon>clear</mat-icon>
                                </button> -->
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td style="align-items: bottom;" *ngIf="!showPassword">
                                    <span class="password-text-container">{{ '*'.repeat(currentUser.password.length)
                                        }}</span>

                                    <mat-icon class="password-icon" (click)="togglePassword()">{{ showPassword ?
                                        'visibility_off' : 'visibility'}}</mat-icon>
                                </td>
                                <td *ngIf="showPassword">
                                    <span class="password-text-container">{{currentUser.password}}</span>

                                    <mat-icon class="password-icon" (click)="togglePassword()">{{showPassword ?
                                        'visibility_off' : 'visibility'}}</mat-icon>
                                </td>
                                <button (click)="editData('password')" color="green" *ngIf="!edit">
                                    <mat-icon>edit</mat-icon>
                                </button>

                            </tr>
                            <tr *ngIf="edit=='password'">

                                <td *ngIf="edit=='password'">
                                    <input [(ngModel)]="passwordEdit" type="text" class="fancy-input"
                                        placeholder="old password" />
                                </td>
                                <td *ngIf="edit=='password'">
                                    <input [(ngModel)]="passwordNew" type="text" class="fancy-input"
                                        placeholder="new password" />
                                </td>

                                <td *ngIf="edit=='password'">
                                    <input [(ngModel)]="passwordNewAgain" type="text" class="fancy-input"
                                        placeholder="new password verification" />
                                </td>
                                <button (click)="doneEditing(passwordNew,'password')" color="green"
                                    *ngIf="edit=='password'">
                                    <mat-icon>done</mat-icon>
                                </button>
                                <button (click)="cancelEditing()" color="green" *ngIf="edit=='password'">
                                    <mat-icon>clear</mat-icon>
                                </button>

                            </tr>
                            <tr>
                                <td>Phone number:</td>
                                <td>{{currentUser.phone}}</td>
                                <button (click)="editData('phone')" color="green" *ngIf="!edit">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <td *ngIf="edit=='phone'">
                                    <input type="text" class="fancy-input" [(ngModel)]="phoneEdit" />
                                </td>
                                <button (click)="doneEditing(phoneEdit,'phone')" color="green" *ngIf="edit=='phone'">
                                    <mat-icon>done</mat-icon>
                                </button>
                                <button (click)="cancelEditing()" color="green" *ngIf="edit=='phone'">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{currentUser.email}}</td>
                                <button (click)="editData('email')" color="green" *ngIf="!edit">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <td *ngIf="edit=='email'">
                                    <input type="text" class="fancy-input" [(ngModel)]="emailEdit" />
                                </td>
                                <button (click)="doneEditing(emailEdit,'email')" color="green" *ngIf="edit=='email'">
                                    <mat-icon>done</mat-icon>
                                </button>
                                <button (click)="cancelEditing()" color="green" *ngIf="edit=='email'">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </tr>
                            <tr>
                                <td>Profile photo:</td>
                                <td><img class="profile-image" [src]="currentUser.picture"></td>
                                <button (click)="editData('picture')" color="green" *ngIf="!edit">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <td *ngIf="edit=='picture'">
                                    <img class="profile-image" [src]="pictureEdit">
                                    <input type="file" name=" picture" accept=".jpg,.png"
                                        (change)="onFileChange($event)" />
                                </td>
                                <button (click)="doneEditing(pictureEdit,'picture')" color="green" *ngIf="edit=='picture'">
                                    <mat-icon>done</mat-icon>
                                </button>
                                <button (click)="cancelEditing()" color="green" *ngIf="edit=='picture'">
                                    <mat-icon>clear</mat-icon>
                                </button>
                            </tr>

                        </tbody>
                    </table>
                    <span class="error-output">{{errorMessage}}</span>

                </mat-card-content>

            </mat-card>

        </div>

        <div class="card-container">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title class="card-title" style="padding-bottom: 10px;">Former workshops</mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <table class="table">
                        <thead>
                            <tr>
                                <th (click)="sortName()">Workshop</th>
                                <th (click)="sortDate()">Date of happening</th>
                                <th (click)="sortTimeStamp()">Time of sign up</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let s of pastSignUps">
                            <!-- <tr class="table-row" (click)="goToDetails(w.idWorkshop)"> -->
                            <tr class="table-row">
                                <td class="name">
                                    <div style="display: flex; align-items: center;"><img class="image-name"
                                            [src]="s.workshopPicture"> {{s.nameWorkshop}}</div>
                                </td>

                                <td>{{s.workshopDate}}</td>
                                <td>{{s.signUpDate}}</td>
                                <td style="color:rgb(255, 64, 0)">
                                    passed
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </mat-card-content>
                <span class="inform-output">{{informMessage}}</span>

            </mat-card>

        </div>


        <div class="card-container" style="width: 30%;">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title class="card-title" style="padding-bottom: 10px;">Liked workshops</mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <table class="table">

                        <tbody *ngFor="let l of allMyLikes">
                            <!-- <tr class="table-row" (click)="goToDetails(w.idWorkshop)"> -->
                            <tr>
                                <td class="name">
                                    <div style="display: flex; align-items: center;"><img class="liked-work-image"
                                            [src]="l.workshop.mainPhoto"> {{l.workshop.name}}</div>
                                </td>

                                <td>{{l.workshop.organizer}}</td>
                                <td style="color:rgb(255, 64, 0);">
                                    <mat-icon (click)="unLike(l.workshop)">favorite</mat-icon>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </mat-card-content>
                <span class="inform-output">{{emptyLikes}}</span>
            </mat-card>

        </div>

        <div class="card-container">
            <mat-card class="card">
                <mat-card-header>
                    <mat-card-title class="card-title" style="padding-bottom: 10px;">My comments</mat-card-title>

                </mat-card-header>

                <mat-card-content>
                    <table class="table">
                        <thead>
                            <tr>
                                <th (click)="sortName()">Workshop</th>
                                <th (click)="sortDate()">Comment</th>
                                <th (click)="sortTimeStamp()">Time</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let com of allMyComments">
                            <!-- <tr class="table-row" (click)="goToDetails(w.idWorkshop)"> -->
                            <tr class="table-row">
                                <td class="name">
                                    <div style="display: flex; align-items: center;">
                                        <img class="liked-work-image" [src]="com.workshop.mainPhoto">
                                        {{com.workshop.name}}
                                    </div>
                                </td>
                                <td *ngIf="com.editing"><input class="fancy-input" style="width: 90%;"
                                        [(ngModel)]="com.content"></td>
                                <td *ngIf="!com.editing"><i>{{com.content}}</i></td>
                                <td>{{com.timestamp}}</td>
                                <td *ngIf="!com.editing">
                                    <button (click)="editComment(com)" class="edit-btn">Edit</button>
                                </td>
                                <td *ngIf="com.editing">
                                    <button (click)="doneEditComment(com)" class="done-btn">Done</button>
                                </td>
                                <td>
                                    <button (click)="deleteComment(com)" class="delete-btn">Delete</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </mat-card-content>
                <span class="inform-output">{{emptyComm}}</span>

            </mat-card>

        </div>

        <div class="card-container">
            <mat-card class="card" style="width: 40%;">
                <mat-card-header>
                    <mat-card-title class="card-title" style="padding-bottom: 10px;">Messanger</mat-card-title>
                </mat-card-header>
                <table class="message-requests-table">
                    <tbody>
                        <tr *ngFor="let request of sentMessages">
                            <div class="picture-username" (click)="openChat(request)" style=" display: inline-block;">
                                <div style="padding:5px; background-color: #2887a7aa; 
                                border-top-left-radius: 10px; border-top-right-radius: 10px;">
                                    {{request.workshopName}}</div>
                                <div style="display: flex; align-items: center;">
                                    <td><img style="height: 40px; width: 40px;" class="profile-image"
                                            [src]="request.senderPicture" alt="Sender Picture"></td>

                                    <td>{{request.senderUsername}}</td>
                                </div>
                            </div>
                            <td>
                                <div *ngIf="request.opened" style="position: relative;">

                                    <div class="chat-container" #scrollContainer>

                                        <div *ngFor="let message of request.messages">
                                            <div class="chat-box"
                                                *ngIf="message.sender.username==request.senderUsername">
                                                <div class="chat-message sender-message">
                                                    <div class="content-and-profile-sender">
                                                        <div style="display: inline-block;">
                                                            <div style="display: flex; align-items: center;">
                                                                <img [src]="message.sender.picture"
                                                                    style="margin: 5px; height: 30px; width: 30px; border-radius: 50%;">
                                                                <span
                                                                    style="font-size: 12px;"><b>{{message.sender.username}}</b>,
                                                                    {{message.timestamp}}</span>
                                                            </div>
                                                            <div>
                                                                <span style="float:left"
                                                                    class="content-sender">{{message.content}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="chat-box"
                                                *ngIf="message.sender.username!=request.senderUsername">
                                                <div class="chat-message recipient-message">
                                                    <div class="content-and-profile-recipient">
                                                        <div style="float:right">
                                                            <div
                                                                style="display: flex; align-items: center; float:right">
                                                                <span
                                                                    style="font-size: 12px;"><b>{{message.sender.username}}</b>,
                                                                    {{message.timestamp}}</span>
                                                                <img [src]="message.sender.picture"
                                                                    style="margin: 5px; height: 30px; width: 30px; border-radius: 50%;">
                                                            </div>
                                                            <div>
                                                                <span style="float:right"
                                                                    class="content-recipient">{{message.content}}</span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="input-btn" style="display: flex;">
                                        <input style="margin:0px" type="text" placeholder="Type your message here..."
                                            [(ngModel)]="messageContent">
                                        <input (click)="sendMessageToUser(request)" style="height: 100%; width: 20%;"
                                            class="signup-btn" type="submit" value="Send">
                                    </div>


                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>


    </div>
    <div class="footer"></div>





</div>